.home-container {
  text-align: center;
  padding: 40px;
  min-height: 100vh;

  background-image: url('C:\Users\Public\Pictures\image.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: rgb(3, 3, 3); /* ou preto, dependendo da imagem de fundo */
}
.home-button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #007bff;
  color: rgb(255, 245, 245);
  text-decoration: none;
  font-size: 18px;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #0056b3;
}